{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section d-flex flex-row">
            <div class="media-body">
                <div class="article-metadata d-flex justify-content-between mt-2">
                    <div class="d-flex">
                        <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt=""
                            class="rounded-circle account-img">   
                        <div>
                            <a class="d-block" mr-2" href="{{ url_for('user_profile', user_id=post.author.id) }}">
                                {{ post.author.username }}
                            </a>
                            
                            <small class="d-block text-muted"> Posted On {{ post.date_posted.strftime('%B %d, %Y') }} </small>
                        </div>
                    </div>
                </div>

                <h2 class=" pt-2">
                    <a class="article-title h5" href="{{ url_for('post', slug=slug(post)) }}"> {{ post.title }} </a>
                </h2>

                <div class="article-content-preview">
                    {{ post.content | safe }}
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="post-like">
                        {% if current_user.is_authenticated %}
                            {% if current_user.has_liked_post(post) %}
                                <a class="btn-sm btn-outline-danger buttons"
                                    href="{{ url_for('react_to_post', post_id=post.id, reaction='unlike') }}">
                                    
                                    <i class="bi bi-heart-fill"></i> {{ post.likes.count() }}
                                </a>
                            {% else %}
                                <a class="btn-sm btn-outline-danger buttons"
                                    href="{{ url_for('react_to_post', post_id=post.id, reaction='like') }}">
                                    
                                    <i class="bi bi-heart"></i> {{ post.likes.count() }}
                                </a>
                            {% endif %}
                        {% else %}
                            <a class="btn-sm btn-outline-danger buttons"
                                href="#">
                                <i class="bi bi-heart"></i> {{ post.likes.count() }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="post-view">
                        <div class="link-success post-views-icon">                            
                            <i class="bi bi-graph-up-arrow"></i>
                            <span>
                                {{ post.views.count() }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    
    {% if posts.items == [] %}
        <h4 class="display-4">No posts found! </h4>
    {% endif %}

    {% if posts.pages > 1 %}
    <nav class="p-2" aria-label="...">
        <ul class="pagination justify-content-end mb-0">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if posts.page == page_num %}
                        <li class="page-item active">
                            <a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                {% else %}
                <li class="page-item  disabled">
                    <a class="page-link""> ... </a>
                </li>
                    
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}